<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABo8dksvc77CjiWf3sEj-28NzKfYTakrM</string>
	<key>GCM_SENDER_ID</key>
	<string>633627717122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easyMart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>easymart-a5eff</string>
	<key>STORAGE_BUCKET</key>
	<string>easymart-a5eff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633627717122:ios:b503d57cc6afd7100e011b</string>
</dict>
</plist>